db.sqlite3
**/__pycache__/
**/.DS_Store

!silky_app/

silky_app/static/*
!silky_app/static/jscoq+64bit/

silky_app/static/jscoq+64bit/*
!silky_app/static/jscoq+64bit/backend
!silky_app/static/jscoq+64bit/frontend
!silky_app/static/jscoq+64bit/jscoq.js
!silky_app/static/jscoq+64bit/jscoq.opam
!silky_app/static/jscoq+64bit/README.md


