db.sqlite3
**/__pycache__/
**/.DS_Store

!silkie_app/

silkie_app/static/*
!silkie_app/static/jscoq+64bit/

silkie_app/static/jscoq+64bit/*
!silkie_app/static/jscoq+64bit/backend
!silkie_app/static/jscoq+64bit/frontend
!silkie_app/static/jscoq+64bit/jscoq.js
!silkie_app/static/jscoq+64bit/jscoq.opam
!silkie_app/static/jscoq+64bit/README.md


