<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Silkie – 15-150 Interactive Proof System</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="icon" href="/silkie/static/jscoq+64bit/frontend/classic/images/favicon.png">

  <style>
    body {
      visibility: hidden;
    }

    /* FOUC avoidance */
  </style>
  <link rel="stylesheet" type="text/css" href="/silkie/static/jscoq+64bit/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="/silkie/static/jscoq+64bit/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/silkie/static/jscoq+64bit/node_modules/katex/dist/katex.min.css">
  <link rel="stylesheet" type="text/css" href="/silkie/static/jscoq+64bit/frontend/classic/css/landing-page.css">
  <link rel="stylesheet" type="text/css" href="/silkie/static/jscoq+64bit/frontend/classic/css/kbd.css">
</head>

<body class="jscoq-main">
  <div id="ide-wrapper" class="toggled">
    <div id="code-wrapper">
      <div id="document-wrapper">
        <!------------------------------->
        <!--   N A V   B A R           -->
        <!------------------------------->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand"><img src="/silkie/static/jscoq+64bit/frontend/classic/images/favicon.png"></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
            </div>
          </div>
        </nav>
        <!------------------------------->

        <div id="document">
          <div>
            <h3 style="text-align: center;"><span class="jscoq-name">Question 1</span></h3>

            <p class="interim">
                List length and reversal functions have been defined in SML as follows:
            </p>
                
<textarea rows="6" cols="30" readonly>
      fun length ([]: 'a list) = 0
          | length (x :: l) = 1 + length(l)

      fun reverse ([] : 'a list) = []
          | reverse (x :: l) = reverse (l) @ [x]
</textarea>

<p class="interim">
  The following is the Coq translation of the functions above:
</p>
<textarea class="intro">
From Equations Require Import Equations.
From listSml Require Import listSml.

Equations length (A : Type) (x1 : @list A) : nat := 
length _ ([]) := 0;
length _ (x :: l) := 1 + length _ (l).

Equations reverse (A : Type) (x1 : @list A) : @list A := 
reverse _ ([]) := [];
reverse _ (x :: l) := reverse _ l ++ [x].
</textarea>

<br/>
<p class="interim">
  <b>Your Task:</b>  Prove that reversing a list maintains its length (i.e length(rev(l)) = length(l) for any list l). You may make use of any lemmas defined below:
</p>

<textarea class="intro">
Lemma length_add A: forall (l1 l2: list A), length _ (l1 ++ l2) = length _ l1 + length _ l2.
Admitted.

Lemma add_comm: forall (a b: nat), a + b = b + a.
Admitted.
</textarea>

<textarea class="code">

Theorem rev_len A : forall (l : list A), length _ (reverse _ l) = length _ (l).
Proof.

Qed.</textarea>

          
          </div> <!-- /#panel body -->
          <a style="background-color:blue; display: grid; text-align: center; text-decoration: none; color: inherit;
           border-style: solid; border-width: 2px; border-color: blue; color:white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" href="2">Next</a>

           
           <a style="background-color:green; display: grid; margin-top: 1em; text-align: center; text-decoration: none; color: inherit;
           border-style: solid; border-width: 2px; border-color: green; color:white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" href="/test">Tutorial</a>
        </div> <!-- /#document -->
      </div> <!-- /#document-wrapper -->
    </div> <!-- /#code-wrapper -->
  </div> <!-- /#ide-wrapper -->

  <script type="module">
    import { JsCoq } from '/silkie/static/jscoq+64bit/jscoq.js';

    if (!localStorage['scratchpad.last_filename'])
      setTimeout(() => document.body.classList.add('welcome'), 1500);

    var jscoq_ids = ['.intro', '.code'];
    var jscoq_opts = {
      implicit_libs: false,
      focus: false,
      editor: { mode: { 'company-coq': true } },
      init_pkgs: ['coq', 'listSml', 'equations'],
      all_pkgs: ['coq', 'listSml', 'equations']
    };

    JsCoq.start(jscoq_ids, jscoq_opts).then(res => {
      /* Global reference */
      window.coq = res;
    });
  </script>
</body>

</html>