<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Silky – 15-150 Interactive Proof System</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="icon" href="static/jscoq+64bit/frontend/classic/images/favicon.png">

  <style>
    body {
      visibility: hidden;
    }

    /* FOUC avoidance */
  </style>
  <link rel="stylesheet" type="text/css" href="../static/jscoq+64bit/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../static/jscoq+64bit/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/jscoq+64bit/node_modules/katex/dist/katex.min.css">
  <link rel="stylesheet" type="text/css" href="../static/jscoq+64bit/frontend/classic/css/landing-page.css">
  <link rel="stylesheet" type="text/css" href="../static/jscoq+64bit/frontend/classic/css/kbd.css">
</head>

<body class="jscoq-main">
  <div id="ide-wrapper" class="toggled">
    <div id="code-wrapper">
      <div id="document-wrapper">
        <!------------------------------->
        <!--   N A V   B A R           -->
        <!------------------------------->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand"><img src="../static/jscoq+64bit/frontend/classic/images/favicon.png"></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
            </div>
          </div>
        </nav>
        <!------------------------------->

        <div id="document">
          <div>
            <h3 style="text-align: center;"><span class="jscoq-name">Question 3</span></h3>

            <p class="interim">
                We define booleans and a function that returns the dual of a boolean expression
            </p>
                
<textarea rows="12" cols="30" readonly>
        datatype bools =  TRUE
            |   FALSE
            |   NOT of bools
            |   AND of bools * bools
            |   OR of bools * bools

        fun dual (TRUE : bools) : bools = FALSE
            |   dual (FALSE) = TRUE
            |   dual (NOT(b)) = NOT(dual b)
            |   dual (OR(b1,b2)) = AND(dual b1, dual b2)
            |   dual (AND(b1,b2)) = OR(dual b1, dual b2)
</textarea>

<p class="interim">
  The following is the Coq translation of the functions above:
</p>
<textarea class="intro">
From Equations Require Import Equations.

Inductive boolean  : Type := 
    | TRUE  
    | FALSE  
    | NOT : boolean -> @boolean   
    | AND : (boolean * boolean)%type -> @boolean   
    | OR : (boolean * boolean)%type -> @boolean .

Equations dual (x1: boolean): boolean :=
    dual TRUE := FALSE;
    dual FALSE := TRUE;
    dual (NOT b) := (NOT ((dual b)));
    dual (OR (b1, b2)) := (AND ((dual b1), (dual b2)));
    dual (AND (b1, b2)) := (OR ((dual b1), (dual b2))).
</textarea>

<br/>
<p class="interim">
  <b>Your Task:</b>  Prove that the dual function is an involution (i.e dual is its own inverse).
</p>


<textarea class="code">

Theorem dual_inv: forall (b : boolean), dual (dual (b)) = b.
Proof.

Qed.</textarea>

          
          </div> <!-- /#panel body -->
          <a style="background-color:blue; display: grid; text-align: center; text-decoration: none; color: inherit;
          border-style: solid; border-width: 2px; border-color: blue; color:white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" href="4">Next</a>
          <a style="background-color:red; display: grid; text-align: center; text-decoration: none; color: inherit;
           border-style: solid; border-width: 2px; border-color: blue; color:white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" href="2">Back</a>


<a style="background-color:green; display: grid; margin-top: 1em; text-align: center; text-decoration: none; color: inherit;
border-style: solid; border-width: 2px; border-color: green; color:white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" href="/test">Tutorial</a>
        </div> <!-- /#document -->
      </div> <!-- /#document-wrapper -->
    </div> <!-- /#code-wrapper -->
  </div> <!-- /#ide-wrapper -->

  <script type="module">
    import { JsCoq } from '../static/jscoq+64bit/jscoq.js';

    if (!localStorage['scratchpad.last_filename'])
      setTimeout(() => document.body.classList.add('welcome'), 1500);

    var jscoq_ids = ['.intro', '.code'];
    var jscoq_opts = {
      implicit_libs: false,
      focus: false,
      editor: { mode: { 'company-coq': true } },
      init_pkgs: ['coq','stringSml','boolSml','charSml','IEEERealSml','intSml','listPairSml',
        'listSml','notationsSml','optionSml','realSml','stringCvtSml', 'equations'],
      all_pkgs: ['coq', 'equations', 'stringSml','boolSml','charSml','IEEERealSml','intSml','listPairSml',
        'listSml','notationsSml','optionSml','realSml','stringCvtSml']
    };

    JsCoq.start(jscoq_ids, jscoq_opts).then(res => {
      /* Global reference */
      window.coq = res;
    });
  </script>
</body>

</html>